@charset "utf-8";
/* CSS Document */

body {
	font-family: "微软雅黑", Tahoma, Geneva, sans-serif;
	color:#4e4a47;
	
}
body, html {
	overflow:hidden;
	background:#f0dcba;
	width:100%;
	height:100%;
}

* {
	margin:0;
	padding:0;
	border:0;
	border:none;
	list-style:none;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
}
a {
	text-decoration:none;
	color:#cd0000;
}
.right {
	float:right;
}
.left {
	float:left;
}


.center {
	width:100%;
	margin:0px auto;
	background:#f0dcba;
/*	min-height:769px;
	height:auto !important;
	height:769px;*/
	position:relative;
	top:80px;
	overflow-y:auto;
	overflow-x:hidden;
	
}

.content {
	width:980px;
	margin:46px auto 0;
	position:relative;
}



/* contact us */

#contactus .content{
	margin:0 auto;
	top:50%;
	height:225px;
	margin-top:-112px;	
	}

#product_sproduct02 , #product_sproduct01{
	overflow-y:auto;
	}





























